

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Definitely Not Skroutz</title>

        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,800">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="./pages/css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">


    </head>
    <body>

    <div class="container-md ">
        <header>          
                <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                    <a class="navbar-brand" href="/">Definitely not Skroutz</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="navbar-brand " href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                    <a class="navbar-brand" href="/sign_up">Sign up</a>
                            </li>
                        </ul>
                    </div>
            </nav>

            <!-- animated fadeIn delay-1s -->
            <div class="jumbotron ">
                <h1 class="display-4">About our team</h1>
                <div class="row justify-content-lg-center ">
                        <div class="row w-100 mt-5 mb-5">
                            <div class="col-lg-4 col-12">
                                <div class="card w-75">
                                        <img class="card-img-top" src="https://scontent.fath6-1.fna.fbcdn.net/v/t1.15752-9/53110629_518071721933149_324016911245377536_n.png?_nc_cat=108&_nc_ht=scontent.fath6-1.fna&oh=035211ea869263b473e67e97b95ea814&oe=5CEEA70D" alt="orestis image">
                                        <div class="card-body">
                                        <h5 class="card-title"> Mr Orestious</h5>
                                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#oreCollapse">More information</button>
                                        <div class="collapse" id="oreCollapse">
                                            <p >name1 with some more text in order to be tested</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 col-12 ">
                                <div class="card">
                                        <img class="card-img-top" src="https://scontent.fath6-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/52902904_2108116085942828_942430942750834688_n.jpg?_nc_cat=108&_nc_ht=scontent.fath6-1.fna&oh=ee8e9ce5412cd4f720bb4574e4600d47&oe=5D2354A9" alt="Card image">
                                        <div class="card-body">
                                        <h5 class="card-title"> Mr Deemetrious</h5>
                                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#demCollapse">More information</button>
                                        <div class="collapse" id="demCollapse">
                                            <p >name1 with some more text in order to be tested</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 col-12 ">
                                <div class="card">
                                        <img class="card-img-top" src="https://scontent.fath6-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/52692417_761255570934300_2982824425948184576_n.jpg?_nc_cat=101&_nc_ht=scontent.fath6-1.fna&oh=bf4261a9f1b19fd847110dc97d7060b0&oe=5CEC0C88" alt="Card image">
                                        <div class="card-body">
                                        <h5 class="card-title"> Mr Zonkious</h5>
                                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#zonCollapse">More information</button>
                                        <div class="collapse" id="zonCollapse">
                                            <p >name1 with some more text in order to be tested</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                            <div class="row w-100 mt-5 mb-5">
                                <div class="col-lg-4 col-12 ">
                                    <div class="card">
                                            <img class="card-img-top" src="https://scontent.fath6-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/52692473_587732785026434_6764736931885481984_n.jpg?_nc_cat=106&_nc_ht=scontent.fath6-1.fna&oh=050e2cdb14c1bed490a766c585bbc969&oe=5CE66F4E" alt="Card image">
                                            <div class="card-body">
                                            <h5 class="card-title"> Mr Cheezyrakious</h5>
                                            <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#cheCollapse">More information</button>
                                            <div class="collapse" id="cheCollapse">
                                                <p >name1 with some more text in order to be tested</p>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-lg-4 col-12 ">
                                    <div class="card">
                                            <img class="card-img-top img-fluid" style="height:50%" src="https://scontent.fath6-1.fna.fbcdn.net/v/t1.15752-9/52712842_2254685561518123_6475068450359214080_n.png?_nc_cat=105&_nc_ht=scontent.fath6-1.fna&oh=f965ba86d37b6dbb99d9d44ec0aa8476&oe=5D1F9815" alt="Card image">
                                            <div class="card-body">
                                            <h5 class="card-title"> Mr Karpuzious</h5>
                                            <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#karCollapse">More information</button>
                                            <div class="collapse" id="karCollapse">
                                                <p >name1 with some more text in order to be tested</p>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-lg-4 col-12 ">
                                    <div class="card">
                                            <img class="card-img-top" src="https://scontent.fath6-1.fna.fbcdn.net/v/t1.0-9/22449911_669427456600067_3644433086263881170_n.jpg?_nc_cat=104&_nc_ht=scontent.fath6-1.fna&oh=9865b30040c1c4b1b120af7958951e20&oe=5D28422E" alt="Card image">
                                            <div class="card-body">
                                            <h5 class="card-title"> Mr Stelankious</h5>
                                            <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#steCollapse">More information</button>
                                            <div class="collapse" id="steCollapse">
                                                <p >name1 with some more text in order to be tested</p>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        

                            



                </div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id cursus enim. In vulputate, libero eget venenatis aliquam, ex purus ornare libero, et iaculis eros ante a metus. Nam consequat luctus velit, quis fringilla neque congue vel. Proin vestibulum ante ex, quis lacinia urna tempus nec. Suspendisse vel faucibus risus. Pellentesque consectetur, dolor ut commodo tempus, eros nisl pretium velit, at tristique elit massa ultricies dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                
                <p class="lead">
                    <a class="btn btn-primary btn-sm" href="/about" role="button">Learn more</a>
                </p>
                <div class="row justify-content-center">
                <div class="col col-lg-8  mt-5 mb-5 align-items-center">
                        <form action="/search_results" method="GET">
                            <div class="input-group">
                                    <h3 for="Search"><i class="fas fa-search mr-3 "></i></h3>

                                <input type="text" class="form-control mr-2" placeholder="Example: Pitatakia" name="search_term">
                                <button type="submit" class="btn btn-outline-success">Search!</button>
                            </div>
                        </form>
                </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <h2 class="lead mr-3 ">Wanna submit a product?</h2>
                    <a type="btn" class="btn btn-primary ml-3" href="/submit_product"> Lets submit a product! </a>
                </div>
            </div>



        </header>


        

    </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>