<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- <div class="animated infinate fadeInDown"> -->
            <% include navbar.ejs %>
        <!-- </div> -->

    </head>

    <body>
<% include search_bar.ejs %>
<h1 class="display-4 mb-0 mt-3 ml-2">Υποβολή νέου προϊόντος</h1>
<% console.log(shopId) %>
<div class="p-3">
<div class="card p-5 mb-0">
        <form action="/change_price_real" method="POST">
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text"  class="form-control" placeholder="Enter new price" name="price" required>
            </div>
            <div class="form-group">
                <label for="DateFrom">Date from</label>
                <input type="date"  class="form-control" placeholder="Enter date from" name="datefrom" required>
            </div>
            <div class="form-group">
                <label for="DateTo">Date to</label>
                <input type="date"  class="form-control" placeholder="Enter date to" name="dateto" required>
            </div>
            <input type="text"  class="form-control" name="shopId" value="<%=shopId %>" hidden>
            <button type="submit" class="btn btn-primary" name='productId' value="<%=productId %>">Submit</button>                      
</div>
</div>
</body>
<% include footer.ejs %>

</html>













