



<!-- Footer -->
<footer class="page-footer font-small bg-primary pt-4 ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row mb-0 mb-lg-auto">

        <!-- Grid column -->
        <div class="col-md-6 col-12 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase text-white ">DNS</h5>
          <p class="text-white small">Ό,τι χρειαστείς, έχουμε την πλάτη σου!</p>
          <hr class="clearfix w-100 d-md-none pb-3 ">

          <a href="/about" class="text-white mt-md-5">ΠΟΙΟΙ ΕΙΜΑΣΤΕ </a>

          

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3 ">

        
          <!-- Grid column -->
          <div class="col-md-6 col-12  mb-md-0 mb-3 ">

            <!-- Links -->
            <h5 class="text-uppercase text-white">Βρες μας στα σοσιαλ</h5>

            <ul class="list-unstyled">
                <li>
                  <a href="https://www.facebook.com/vagelis.karpouzia" class="text-white">Facebook</a>
                </li>
                <li>
                  <a href="https://instagram.com/spyrosvez" class="text-white"> Instagram</a>
                </li>
                <li>
                    <a href="https://twitter.com/jimdrouk" class="text-white "> Twitter</a>
                  </li>
              </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white-50">© 2018 Copyright:
      <a href="#" class="text-white-50">DNScrew.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->