<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- <div class="animated infinate fadeInDown"> -->
            <% include navbar.ejs %>
        <!-- </div> -->

    </head>
    <body>

        <div class="container-md animated fadeIn ">
                
                <div class="jumbotron mb-0">
                    <!-- <h1 class="display-3">Καλώς ήρθατε στο DNS</h1> -->
                    <div class="row">
                        <div class="col-md-4 col-2"></div>
                        <div class="col-md-4 col-8">
                            <img src="images/skroutz.png " class=" img-fluid  "></img>
                            <p class="lead  text-center mt-3 ml-2">Ό,τι χρειαστείς, έχουμε την πλάτη σου! </p>

                        </div>
                        <div class="col-md-4 col-2"></div>
                    </div>
                    <!-- <p class="lead mb-lg-5">
                        <a class="btn btn-primary btn-sm" href="/about" role="button">Learn more</a>
                    </p> -->
                    <% include search_bar.ejs %>

                    <div class="row mt-5 mb-5 justify-content-center">
                            <!-- <h2 class=" mr-3  ">Καταχώρηση νέου προϊόντος</h2> -->
                            <% if ( token ) { %>

                            <a type="btn" class="btn btn-primary ml-0 display-4" href="/submit_product"> Καταχώρηση νέου προϊόντος </a>
                            <% } else{ %>
                            <a  type="btn" class="btn btn-primary ml-0 display-4 text-white "  data-toggle="modal" data-target="#login_modal" >Καταχώρηση νέου προϊόντος</a>


                                <% } %>

                        </div>

                    <% include map.ejs%>


                </div>

                <%- include login.ejs %>

            <%- include footer.ejs %>

    </div>
</body>
</html>