<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
                    <% if ( token ) { %>
                    	<li><a href="/logout">Logout</a></li>
                    <% } else{ %>
					    <li><a href="/login">Login</a></li>
					    <li><a href="/sign_up">Sign up</a></li>
                    <% } %>
				</ul>
			</nav>
        </header>
        <h1> Welcome to DNS Homepage </h1>
        <form action="/search_results" method="GET">
  <div class="form-group">
    <label for="Search">Search</label>
    <input type="text" class="form-control" placeholder="Example: Pitatakia" name="search_term">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if ( token ) { %>
<a href="/submit_product"> Submit a product </a>
    </body>
</html>
<% } %>