<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <%- include navbar.ejs %>

    </head>
    <body>
        <div class="container-md ">
                <div class="jumbotron animated fadeIn delay-1s">
                    <h1 class="display-4">Welcome to DNS homepage</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id cursus enim. In vulputate, libero eget venenatis aliquam, ex purus ornare libero, et iaculis eros ante a metus. Nam consequat luctus velit, quis fringilla neque congue vel. Proin vestibulum ante ex, quis lacinia urna tempus nec. Suspendisse vel faucibus risus. Pellentesque consectetur, dolor ut commodo tempus, eros nisl pretium velit, at tristique elit massa ultricies dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    
                    <p class="lead">
                        <a class="btn btn-primary btn-sm" href="/about" role="button">Learn more</a>
                    </p>
                    <div class="row justify-content-center">
                        <div class="col col-lg-8  mt-5 mb-5 align-items-center">
                                <form action="/search_results" method="GET">
                                    <div class="input-group">
                                        <h3 for="Search"><i class="fas fa-search mr-3 "></i></h3>
                                        <input type="text" class="form-control mr-2" placeholder="Example: Pitatakia" name="search_term">
                                        <button type="submit" class="btn btn-outline-success">Search!</button>
                                    </div>
                                </form>
                        </div>
                    </div>
                    <div class="row mt-5 justify-content-center">
                        <h2 class="lead mr-3 ">Wanna submit a product?</h2>
                        <a type="btn" class="btn btn-primary ml-3" href="/submit_product"> HA! Gotcha! YOU CANT </a>
                    </div>
                </div>


        

    </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>