<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <% include navbar.ejs %>
    </head>
    <body>
    <div class="jumbotron mb-0">
        <div class="row">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-4 col-8">
                <img src="images/skroutz.png " class=" img-fluid  "/>
                <p class="lead  text-center mt-3 ml-2">Ό,τι χρειαστείς, έχουμε την πλάτη σου! </p>

            </div>
        </div>
    </div>

    <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-sm">

    </div>
    <div class="col-lg-auto">
    <h1>Ποιοι χρησιμοποιούν το DNS</h1>
    </div>
    <div class="col-sm">
    </div>
    </div>
    </div>
    <div class="col-md-4 col-2"></div>
    
    <%- include footer.ejs %>
    </body>
</html>