<h1>This is the login page</h1>
<form action="/" method="GET">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="Enter your email" name="l_email">
  </div>
  <div class="form-group">
    <label for="password">Search</label>
    <input type="text" class="form-control" placeholder="Enter your password" name="l_password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>