<div id="login_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Συνδέσου</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/login" method="POST">
                  <div class="form-group">
                    <label for="username" class="lead">Όνομα χρήστη</label>
                    <input type="text" class="form-control lead" placeholder="π.χ. zonk" name="username" required>
                  </div>
                  <div class="form-group">
                    <label for="password " class="lead">Κωδικός πρόσβασης</label>
                    <input type="password" class="form-control lead" placeholder="let it be the right one" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Σύνδεση</button>
                </form>
            </div>
        </div>

    </div>
</div>





    
    