<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>My Map</title>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://d3js.org/topojson.v0.min.js"></script>
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
	<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>	<style type="text/css">
		html, body, #map { height : 400px; }
	</style>
	<script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
    integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
    crossorigin=""></script>
	<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
    integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
    integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
		crossorigin=""></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,800">

</head>
<body onload='onLoad()'>
<h5 class="lead mb-3">Ψάχνεις για μαγαζί;</h5>

<div id="map"></div>

<input id="confirmShop" type="button" class="btn btn-primary mt-4 mb-3" value="Επιβεβαίωση επιλογής" onclick="confirmShop();"/>

<form id="oldShop" action='/submit_product' method='GET'>
  <input id="old_lat" type="text" name="lat" hidden>
  <input id="old_lng" type="text" name="lng" hidden>
  <input id="old_address" type="text" name="address" hidden>
  <button type="submit" class="btn btn-primary">Καταχώρηση υπάρχοντος μαγαζιού</button>
</form>

<form id="newShop" action='/shop_info' method="POST">
  <input id="lat" type="text" name="lat" hidden>
  <input id="lng" type="text" name="lng" hidden>
  <input id="address" type="text" name="address" hidden>
  <div class="form-group">
    <label for="shopname">Shop name</label>
    <input id="shop-name" type="text" placeholder="Enter shop name" name="name" required>
  </div>
  <div class="form-group">
    <label for="shoptags">Shop Tags</label>
    <input id = "shop-tags" type="text" placeholder="Enter shop tags seperated with comma" name="tags" required>
  </div>
  <button type="submit" class="btn btn-primary">Καταχώρηση</button>
</form>

</body>

<script id="searcher" src='js/map.js' name="<%=JSON.stringify(shops)%>"></script>

</html>