<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>My Map</title>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://d3js.org/topojson.v0.min.js"></script>
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
	<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>	<style type="text/css">
		html, body, #map { height : 400px; }
	</style>
	<script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
    integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
    crossorigin=""></script>
	<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
    integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
    integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
		crossorigin=""></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,800">

</head>
<body onload='onLoad()'>
<h5 class="lead mb-3">Ψάχνεις για μαγαζί;</h5>
<div id="map"></div>

<input id="confirmShop" type="button" class="btn btn-primary mt-4 mb-3 " value="Επιβεβαίωση επιλογής" onclick="confirmShop();"/>
<div class=" p-2 m-3 col-11 col-md-6">

<form id="newShop" action='/shop_info' method="POST">
  <input id="shopId" type="text" name="shopId" hidden>
<div class="form-group">
    <label for="DateFrom" class="lead">Date from</label>
    <input type="date"  class="form-control" placeholder="Enter date from" name="datefrom" required>
</div>
<div class="form-group">
    <label for="DateTo" class="lead">Date to</label>
    <input type="date"  class="form-control" placeholder="Enter date to" name="dateto" required>
</div>
<button type="submit" class="btn btn-primary">Ψάξε</button>
</form>
</div>

</body>

<script id="searcher" src='js/map_homepage.js' name='<%=JSON.stringify(shops)%>'></script>

</html>