<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Definitely Not Skroutz</title>

        <link rel="shortcut icon" type="image/png" href="images/a.png"/>

        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,800">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    </head>
    <body>
        <div class="container-md  ">
            <header>          
                    <nav class="navbar navbar-expand-md navbar-dark bg-primary ">
                        <a class="navbar-brand lead " href="/">Definitely not Skroutz</a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">   
                                <%      console.log("role is:" + session.auth_token);
                                    if (session.role == 'admin') { %>
                                    <a class="nav-link nav-link-ltr text-white" href="/admin_hub">Admin Hub</a>
                                <% } %>
                                <%  if (session.role == 'investor') { %>
                                    <a class="nav-link nav-link-ltr text-white" href="/partners">Partners Page</a>
                                <% } %>
                                <% if ( session.auth_token ) { %>
                                    <a class="nav-link nav-link-ltr text-white" href="/logout">Αποσυνδεση</a>
                                <% } else{ %>
                                    <li class="nav-item">
                                        
                                        <a class="nav-link nav-link-ltr btn text-white"  data-toggle="modal" data-target="#login_modal" >Συνδεση</a>
                                    </li>
                                    <li class="nav-item ">
                                            <a class="nav-link nav-link-ltr btn text-white"  data-toggle="modal" data-target="#sign_up_modal" >Εγγραφη</a>
                                    </li>
                                <% } %>

                            </ul>
                        </div>
                </nav>
            </header>
</div>

<%- include login.ejs %>

<%- include sign_up.ejs %>



         <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    </body>
</html>

