<div class="col">
<div class="row justify-content-center ml-md-3 mr-md-3 p-0 p-md-3 ">
    <div class="col col-lg-8 col-12  my-md-5 mt-5 mb-2 align-items-center">
        <form action="/search_results" method="GET">
            <div class="input-group">
                <h3 for="Search"><i class="fas fa-search mr-3 "></i></h3>
                <input type="text" class="form-control mr-2" placeholder="π.χ. Pitatakia" name="search_term">
                <button type="submit" class="btn btn-outline-success">Αναζήτηση</button>
            </div>
        </form>
    </div>
</div>
</div>