<h1> You searched something </h1>

<div class="row">
<% for(var i = 0;i < myproducts.length;i++){ %>
<div style="background-color: #E6E6FA; width: 290px; border: 2px solid red">
    <p>Name: <%= myproducts[i].name %></p>
</div>
<% } %>
</div>

<a href="/product_info" method="POST"> This is a product </a>