<div id="sign_up_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Γίνε μέλος της παρέας μας</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/sign_up" method="POST">
                  <div class="form-group">
                    <label for="email" class="lead">Διεύθυνση ηλεκτρονικού ταχυδρομείου</label>
                    <input type="email" class="form-control lead" placeholder="π.χ. zonk@zonkmail.znk" name="email" required>
                  </div>
                  <div class="form-group">
                    <label for="Username" class="lead">Όνομα χρήστη</label>
                    <input type="text" class="form-control lead" placeholder="π.χ. zonk" name="username" required>
                  </div>
                  <div class="form-group">
                    <label for="password" class="lead">Κωδικός πρόσβασης</label>
                    <input type="password" class="form-control lead" placeholder="plz be complex" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Εγγραφή</button>
                </form>
            </div>
        </div>

    </div>
</div>
  
  
  
  
  
  
 