<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- <div class="animated infinate fadeInDown"> -->
            <% include navbar.ejs %>
        <!-- </div> -->

    </head>

    <body>
<% include search_bar.ejs %>
<h1 class="display-4 mb-0 mt-3 ml-2">Υποβολή νέου προϊόντος</h1>
<div class="col-11 ml-4">
<!-- <div class="row"> -->

<!-- <p class="lead">Εάν το προϊόν υπάρχει ήδη</p> <a class="lead" href="/">, αναζητείστε το </a> -->
<!-- </div> -->
</div>
<!-- <h2>does the product already exist?</h2>

<h2>create a whole new world</h2> -->
<div class="p-3">
  <div 
<div class="card p-5 mb-0">
  <form action="/submit_product" method="POST">
    <div class="form-group">
      <label for="productname" class="lead mr-3">Όνομα προϊόντος</label>
      <input type="text" placeholder="Όνομα προϊόντος" name="productname" required>
    </div>
    <div class="form-group">
      <label for="price" class="lead mr-3">Τιμή</label>
      <input type="text" placeholder="Τιμή" name="productprice" required>
    </div>
      <div class="form-group">
      <label for="productdescription" class="lead mr-3">Περιγραφή προϊόντος</label>
      <input type="text" placeholder="Περιγραφή προϊόντος" name="productdescription" required>
    </div>
    <div class="form-group">
      <label for="productcategory" class="lead mr-3">Κατηγορία προϊόντος</label>
      <input type="text" placeholder="Κατηγορία" name="productcategory" required>
    </div>
    <div class="form-group">
      <label for="producttags" class="lead mr-3">Ετικέτες</label>
      <input type="text" placeholder="Enter product tags seperated with comma" name="producttags" required>
    </div>
    <div class="form-group">
      <label for="dateFrom" class="lead mr-3">Ημερομηνία από</label>
      <input type="date" placeholder="Ημερομηνία από" name="datefrom" value="04/24/2019" required>
    </div>
    <div class="form-group">
      <label for="dateTo" class="lead mr-3">Ημερομηνία έως</label>
      <input type="date" placeholder="Ημερομηνία έως" name="dateto" value="04/24/2019" required>
    </div>
    <button type="submit" class="btn btn-primary mb-5">Καταχώρηση</button>
  </form>
</div>
</div>
<% include footer.ejs %>
</body>
</html>
