<h1>This is where you submit shop</h1>
<form action="/submit_shop" method="POST">
  <div class="form-group">
    <label for="shop">Shop</label>
    <input type="text" class="form-control" placeholder="Enter shop name" name="shop" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>